@import "src/assets/sass/variables";

.header-wrapper {
  padding: $space-s $space-l;
  display: grid;
  grid-template-columns: 64px auto 64px;
  gap: $space-m;
  justify-items: center;
  align-items: center;

  .logo-img {
    grid-column: 2 / 2;
  }

  .dashboard-icon, .home-icon {
    .mat-icon {
      color: $teal-700;
      height: 48px;
      width: 48px;
      font-size: 48px;
    }
  }

  .dashboard-icon {
    grid-column: 1 / 1;
  }

  .home-icon {
    grid-column: 3 / 3;
  }
}
