@import "../../../../../assets/sass/variables";
@import "../../../../../assets/sass/mixins";

.dashboard-wrapper {
  @include base-container;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
