@import "../assets/sass/variables";

.app-root-wrapper {
  display: flex;
  justify-content: center;
}

.logo-background {
  height: 100vh;
  width: 100vw;

  background-color: $white;
  background-image: url('../assets/images/fabrick-logo-blue.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
