@import "src/assets/sass/variables";

.registered-user {
  margin: $space-l;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $teal-100;
  color: $black;
}

.user-form {
  margin: $space-l;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $space-l;
}

.user-form-row,
.buttons-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: $space-l;
}

.buttons-wrapper > button {
  flex: 0 0 200px;
}
