<fab-base-feature-container title="registration.title">
  <section *ngIf="(lastRegisteredUser$ | async) as user" class="registered-user">
    <p>{{ 'registration.complete' | translate: {userId: user.id} }}</p>
    <button
      mat-icon-button
      [attr.aria-label]="'registration.copyUserId' | translate"
      (click)="copyUserId(user.id)">
      <mat-icon>file_copy</mat-icon>
    </button>
  </section>

  <form class="user-form" [formGroup]="userForm">
    <div class="user-form-row">
      <mat-form-field floatLabel="always" appearance="outline" color="accent">
        <mat-label>{{ 'registration.form.name.label' | translate }}</mat-label>
        <input
          type="text"
          matNativeControl
          formControlName="name"
          [placeholder]="'registration.form.name.placeholder' | translate"
        >
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline" color="accent">
        <mat-label>{{ 'registration.form.email.label' | translate }}</mat-label>
        <input
          type="email"
          matNativeControl
          formControlName="email"
          [placeholder]="'registration.form.email.placeholder' | translate"
        >
      </mat-form-field>
    </div>
    <div class="user-form-row">
      <mat-form-field
        floatLabel="always"
        appearance="outline"
        color="accent"
        #tooltip="matTooltip"
        [matTooltip]="'registration.form.nonBinaryWip' | translate"
        matTooltipPosition="above">
        <mat-label>{{ 'registration.form.gender.label' | translate }}</mat-label>
        <mat-select
          formControlName="gender"
          [placeholder]="'registration.form.gender.placeholder' | translate"
          (click)="genderSelectClicked()">
          <mat-option *ngFor="let value of genderOptions" [value]="value">{{ value }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline" color="accent">
        <mat-label>{{ 'registration.form.status.label' | translate }}</mat-label>
        <mat-select
          formControlName="status"
          [placeholder]="'registration.form.status.placeholder' | translate">
          <mat-option *ngFor="let value of statusOptions" [value]="value">{{ value }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="buttons-wrapper">
      <button
        mat-raised-button
        type="button"
        color="accent"
        [disabled]="userForm.pristine"
        (click)="clearForm()"
      >{{'registration.form.clear' | translate}}
      </button>
      <button
        mat-raised-button
        type="button"
        color="primary"
        [disabled]="userForm.invalid"
        (click)="userRegistration()"
      >{{'registration.form.submit' | translate}}
      </button>
    </div>
  </form>

</fab-base-feature-container>
