<fab-base-feature-container title="inquiry.title">
  <form [formGroup]="idForm" class="id-form">
    <mat-form-field floatLabel="always" appearance="outline" color="accent">
      <mat-label>{{ 'inquiry.form.id.label' | translate }}</mat-label>
      <input
        matInput
        type="number"
        step="0.01"
        formControlName="id"
        [placeholder]="'inquiry.form.id.placeholder' | translate"
      >
      <mat-error
        *ngIf="hasPatternError">{{ 'inquiry.form.id.patternError' | translate }}</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      type="button"
      color="accent"
      [disabled]="idForm.invalid"
      (click)="inquiryUser()"
    >{{'inquiry.form.search' | translate}}
    </button>
  </form>

  <ng-container *ngIf="lastInquiredId">
    <section class="user-info-wrapper">
      <ng-container *ngIf="(users$ | async)?.[lastInquiredId] as user; else userNotFound">
        <mat-card class="user-card">
          <mat-card-header>
            <mat-card-title>{{ 'common.user' | translate }} {{ user?.id }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <fab-user-attribute name="inquiry.user.name" [value]="user.name"></fab-user-attribute>
            <fab-user-attribute name="inquiry.user.email" [value]="user.email"></fab-user-attribute>
            <fab-user-attribute name="inquiry.user.gender" [value]="user.gender"></fab-user-attribute>
            <fab-user-attribute name="inquiry.user.status" [value]="user.status"></fab-user-attribute>
          </mat-card-content>
        </mat-card>
      </ng-container>

      <ng-template #userNotFound>
        <mat-card class="user-card user-not-found">
          <mat-card-header>
            <mat-card-title>{{ 'common.user' | translate }} 404</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ 'inquiry.user.notFound' | translate }}</p>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </section>
  </ng-container>
</fab-base-feature-container>

