<div class="home-wrapper">
  <h1 class="project-title">{{ 'home.projectTitle' | translate }}</h1>
  <section class="project-proposition-wrapper">
    <div class="get-started-wrapper">
      <h2>{{ 'home.getStartedTitle' | translate }}</h2>
      <p>{{ 'home.getStartedMessage' | translate }}</p>
      <button
        mat-raised-button
        type="button"
        color="primary"
      >{{'home.getStartedCta' | translate}}
      </button>
    </div>
    <div class="web-app-img-wrapper">
      <img src="../../../../../assets/images/web-app-logo.png" alt>
    </div>
  </section>
</div>
