@import "src/assets/sass/variables";

.footer-links-wrapper {
  padding: $space-m $space-s;
  display: flex;
  justify-content: space-around;
  background-color: $teal-100;

  .social-link {
    display: flex;
    color: $black;
    align-items: center;
    justify-content: space-between;
    padding: 0 $space-s;
    img {
      padding-right: $space-s;
    }
  }
}
