// Colors

$cool-blue-100: rgba(17, 43, 252, 1);
$cool-blue-10: rgba(17, 43, 252, 0.1);
$dark-blue-100: rgba(0, 21, 68, 1);
$white-100: rgba(255, 255, 255);

// Spacing

$space-s: 8px;
$space-m: 2 * $space-s;
$space-l: 3 * $space-s;
